.margin-none {
    margin-left: 0px !important;
}
  
@media only screen and (max-width: 600px) {
    .content-wrapper{
        min-height: 750px;
    }
    .button-footer {
        position: fixed !important;
        bottom: 0 !important;
        width: 100% !important;
        padding-left: 0px !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content-wrapper{
        min-height: 750px;
    }
    
    .button-footer {
        position: fixed !important;
        bottom: 0 !important;
        width: 100% !important;
        padding-left: 0px !important;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .content-wrapper{
        min-height: 750px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .content-wrapper{
        min-height: calc(100vh - 114px);
    height: 100%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-wrapper{
    min-height: calc(100vh - 114px);
    height: 100%;
    }
}
