<h1 style="text-align:center;">You may download your screen files from this page</h1>
<!-- <button type="button" class="button" (click)="doDownload()">Click to download files</button> -->
<a href="http://localhost:8081/get/entity" >Click to download Entity file</a> <br>
<a href="http://localhost:8081/get/repo" >Click to download Repo file</a> <br>
<a href="http://localhost:8081/get/controller" >Click to download Controller file</a> <br>
<a href="http://localhost:8081/get/html" >Click to download HTML file</a> <br>
<a href="http://localhost:8081/get/ts" >Click to download Typescript file</a> <br>
